*{margin:0;padding:0;overflow-x:hidden;font-family: 'Poppins', sans-serif;}
html, body {height: 100%; overflow-X: hidden;background: #fff;}
.header{
	min-height:100vh;
	width:100%;
	background-image: linear-gradient(#6b6565a3,#63f54940,#6b6565a3),url(photos/We.jpg);
	background-position:center;
	background-size:cover;
	position:relative;
	z-index:2;
}
nav{
	display:flex;
	padding:2% 6%;
	justify-content:space-between;
	align-items: center;
}
.bar{
	display:none;
}
.logo{
  margin: 1rem 0 0 0.3rem;
	width:5rem;
}
#nav-links{
	flex:1;
	text-align:right;
}
#nav-links ul li{
	list-style:none;
	display:inline-block;
	padding:8px 12px;
	position:relative;
}
#nav-links ul li::after{
	content:'';
	width:0;
	height:2.75px;
	background:yellow;
	display:block;
	margin:auto;
	transition:0.5s;
}
#nav-links ul li:hover::after{
	width:100%;
}
#nav-links ul li a{
	color:#fff;
	font-size:20px;
	text-decoration:none;
}
.text-box{
	width:75%;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	text-align:center;
}
.text-box h1{
	font-size:40px;
}
.text-box p{
	margin-top:2.75%;
}
#scroll{
	width: 75px;
    position: absolute;
    top: 90%;
    left: 50%;
	transform:translate(-50%,-50%);
    text-align: center;
}
#scroll:hover{
	transform:translate()
}
.footer{
	background:#ede7e4;
	overflow:hidden;
	font-family:arial;
}
.container{
	width:80%;
	margin:25px auto;
}
.footer-titles{
	font-size:20px;
}
.footer-row{
	width:24%;
	float:left;
}
.footer-p{
	font-size:17px;
}
.footer-pn{
	color:gray;
	font-size:14px;
}
.footer-pn-text{
	text-align:justify;
}
#inputFiled input{
	width:205px;
	max-width:95%;
	margin-bottom:10px;
	padding:8px 5px;
	border:1px solid black;
}
.submitButton input{
	width:216.4px;
	max-width:95%;
	background:#91999c;
	padding:8px;
	border:1px solid black;
    transition:all 1s;
}
.submitButton input:hover{
	cursor:pointer;
	background:#dfb1ea;
	border:1px solid black;
}
.spacial{
	margin-left:15%;
}
.footer-a{
	font-size:17px;
	text-decoration:none;
	color:black;
}
.footer-a:hover{
	text-decoration:underline;
}
.social{
	width:32px;
	border-radius:50%;
	background:black;
	border:1px solid transparent;
	margin:8px;
	float:left;
	transition:all 1s;
}
.social:hover{
	transform:translateY(-10%);
	border:1px solid black;
}


.darkmode-toggle{
	z-index:1;
}

@media(max-width: 1100px){
.footer-row{
	width:50%;
	height:300px;
	margin-bottom:10%;
}
.spacial{
	margin-left:0;
}
.footer-pn-text{
	text-align:center;
}

}

@media(max-width: 700px){
	.text-box h1{
	font-size:30px;
}
#nav-links ul li{
	display:block;
}
#nav-links{
	position:absolute;
	height:100vh;
	background:#ddd;
	width:200px;
	top:0;
	right:-200px;
	text-align:center;
	z-index:2;
	transition:all 1s;
}
#nav-links ul li:hover::after{
	width:40%;

}
nav img{
	width:50px
}
.bar{
	display:inline-block;
	cursor:pointer;
}
.close{
	width:30px;
}
.menu{
	width:50px;
}
.row{
	flex-direction:column;
}
.text-box p{
	margin-top:5%;
}
.footer-row{
	width:100%;
	margin-bottom:10%
}
.spacial{
	margin-left:0;
}
.footer-pn-text{
	text-align:center;
}

}
